@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{

    background: #3d3d3d;
}


.container{
    width: 800px;
    height: 560px;  
    position: absolute;
    top: 80px;
    left: 250px;
    border-radius: 8px;
    display: flex;
    -webkit-box-shadow: 18px 22px 49px -15px rgba(0,0,0,0.79);
    -moz-box-shadow: 18px 22px 49px -15px rgba(0,0,0,0.79);
    box-shadow: 18px 22px 49px -15px rgba(0,0,0,0.79);
    box-sizing: border-box;
    border: 1px solid #1d1d1d;
}

.login{
    width: 50%;
    height: 100%;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px;
}

    
.register{
    width: 50%;
    height: 100%;    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 

}

.cabecera{
    width: 50%;
    height: 100%;
    background: url(img/miau.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
    
}


.register h1{
    position: relative;
    top: 90px;
    left: 105px;
}

.register p{
    position: relative;
    top: 90px;
    left: 75px;
}

.login h1{
    position: relative;
    top: 90px;
    left: 105px;
   
}

.login p{
    position: relative;
    top: 90px;
    left: 75px;
}

input[type= text], input[type= password], input[type= text]
{
 position: relative;
 width: 70%;
 top: 110px;
 left: 55px;
 margin-top: 10px;
 border-radius: 8px;
 box-sizing: border-box;
 border: 1px solid #222222;
 padding: 10px;
}


input[type= submit]
{
 position: relative;
 top: 150px;
 height: auto;
 width: 52%;
 padding: 10px;
background-color: #186A3B; 
border-radius: 20px;        
left: 90px;
color: rgb(255, 255, 255);
font-weight: 700;
}


.divmain{
    width: 160px;
    height: 500px;  
    position: absolute;
    top: 50px;
    right:  1090px;
    border-radius: 8px;
    -webkit-box-shadow: 18px 22px 49px -15px rgba(0,0,0,0.79);
    -moz-box-shadow: 18px 22px 49px -15px rgba(0,0,0,0.79);
    box-shadow: 18px 22px 49px -15px rgba(0, 0, 0, 0.79);
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #D2B4DE;
    background-color: #AF7AC5;
}

.optionMenu{
position: relative;
 top: 20px;
 display: flex; 
color: azure;
}


.optionServicios{
    position: relative;
     top: 50px;
     display: flex; 
    color: azure;
    }

    
.optionEquipos{
    position: relative;
     top: 80px;
     display: flex; 
    color: azure;
    }

    
.optionProveedores{
    position: relative;
     top: 100px;
     display: flex; 
    color: azure;
    }

    
.optionCServicios{
    position: relative;
     top: 120px;
     display: flex; 
    color: azure;
    }

    
.optionCEquipos{
    position: relative;
     top: 140px;
     display: flex; 
    color: azure;
    }

     
.FacturasServicios{
    position: relative;
     top: 120px;
     display: flex; 
    color: azure;
    }

    
.FacturasEquipos{
    position: relative;
     top: 260px;
     display: flex; 
    color: azure;
    }

